node_modules
.env
coverage
coverage.json
typechain-types

#Hardhat files
cache
artifacts

#openzeppelin
.openzeppelin/*
!.openzeppelin/unknown-137.json
!.openzeppelin/mainnet.json

.DS_Store

# Foundry
forge-cache/
out/
forge-coverage/
lcov.info
